################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Play.Catalog.Service/bin/Debug/net5.0
/src/Play.Catalog.Service/obj
/src/Play.Catalog.Service/.vs/Play.Catalog.Service/DesignTimeBuild
/src/Play.Catalog.Service/.vs/Play.Catalog.Service/v17/.futdcache.v1
/src/Play.Catalog.Service/.vs/Play.Catalog.Service/project-colors.json
